<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h3>List Customer</h3>
<p>
    <a th:href="@{/}">
        Create New Customer.
    </a>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cus,starCus : ${customers} ">
        <td th:text="${starCustomer.count}"></td>
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getFirstName()}"></td>
        <td th:text="${customer.getLastName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>