<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h3>Blog</h3>
<p>
    <a th:href="@{/create-blog}">
        New Blog
    </a>
</p>
<table>
    <thead>
    <tr>
        <th>Stt</th>
        <th>Title</th>
        <th>View</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blogs,star : ${blog}">
        <td th:text="${star.count}"></td>
        <td th:text="${blogs.title}"></td>
        <td th:href="@{/view-blog/__${blogs.id}__}">view</td>
        <td th:href="@{/remove-blog/__${blogs.id}__}">delete</td>
        <td th:href="@{/edit-blog/__${blogs.id}__}">edit</td>
    </tr>
    </tbody>
</table>
</body>
</html>