<div style="text-align: center;"><h3>Student List</h3></div>
<a class="btn btn-primary" routerLink="/create">Create Student</a>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name | uppercase}}</td>
    <td>{{student.age}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark >= 5" class="text-success">PASS</td>
    <td *ngIf="student.mark < 5" class="text-danger">FAIL</td>
    <td>
<!--      <button class="btn btn-info"  (click)="getStudent(student)">Detail</button>-->
      <a class="btn btn-secondary" [routerLink]="['', student.id]">Detail</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--<div class="col-4">-->
<!--  <app-student-information  (throwCurentMark)="catchMarkFromCon($event)" [ConStudentDetail]="ChaStudentDetail"></app-student-information>-->
<!--</div>-->
<!--<div class="col-4">-->
<!--  <app-template-driven-form ></app-template-driven-form>-->
<!--</div>-->
<!--    <div class="col-4">-->
<!--      <app-reactive-form></app-reactive-form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

